*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
/app/build/
/app/release/app-release.aab
.externalNativeBuild
.cxx
local.properties

# Token Access
/app/src/main/res/values/mapbox-access-token.xml

# Firebase config
/core/network/google-services.json
